:root {
  --primary-btn-bg-color: #ff7a00;
  --secondary-btn-bg-color: #fff;
  --btn-text-color: #fff;
  --global-min-height: 750px;
  --global-flex: flex;
  --global-width: 100%;
  --global-justify-content: space-between;
  --global-align-content: center;
  --global-cursor: pointer;
  --span-color: #ff7a00;
  --h1-font-size: 2.7rem;
  --h2-font-size: 1.8rem;
}

body {
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: auto;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: var(--global-cursor);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

span {
  color: var(--span-color);
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  display: block;
}

li,
.btn,
.hamburger-icon {
  cursor: var(--global-cursor);
}

.hero-section,
.comp-logo a {
  color: #fff;
}

.hero-section,
.skills-section,
.portfolio-section {
  width: 100vw;
  min-height: var(--global-min-height);
}

.hero-section {
  background: url('../public/images/beg.jpeg') no-repeat center center/cover;
}

.top-bar,
.top-nav-menu {
  display: var(--global-flex);
  justify-content: var(--global-justify-content);
  align-items: var(--global-align-content);
}

.top-bar-container,
.hamburger-menu {
  position: fixed;
}

.top-bar-container {
  width: var(--global-width);
  background: #000;
  animation: top-bar;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes top-bar {
  0% {
    opacity: 0;
    margin-top: -20px;
  }

  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

.top-bar-container {
  z-index: 100;
}

.hamburger-menu {
  z-index: 1;
}

.top-bar {
  padding: 20px 0px;
  font-size: 1.2rem;
}

.top-nav {
  width: 50%;
}

.hamburger-menu {
  width: 0%;
  overflow: hidden;
}

.social-icons img {
  width: 23px;
  height: 23px;
  margin-left: 5px;
  transition: 0.2s;
  transform-origin: bottom;
}

.social-icons a:hover img {
  transform: translateY(-2px);
}

.hamburger-menu,
.hero-content {
  display: var(--global-flex);
  flex-direction: column;
}

.hamburger-menu {
  top: 0;
  right: 0;
  height: 750px;
  padding-top: 20px;
  transition: 0.5s;
}

.hamburger-icon,
.hero-btm-socials {
  display: none;
}

.hamburger-icon {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 18px;
  right: 0;
  margin-right: 20px;
  transition: 0.5s;
  transform: translateY(-2px);
}

.hamburger-icon:hover {
  transform: rotate(180deg);
}

.hamburger-icon,
.side-menu,
.portfolio-card,
.hero-primary-btn,
.hero-secondary-btn {
  transition: 0.5s;
}

.side-menu {
  position: absolute;
  right: 0;
  top: 70px;
  width: 100%;
  height: 685px;
  background: #fff4eb;
}

.side-menu li {
  margin: 50px 0px;
}

.side-menu a {
  color: #000;
}

.toggleMenu {
  width: var(--global-width);
}

.hero-content {
  margin-top: 150px;
  justify-content: center;
  align-content: center;
  animation-name: hero-content;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

@keyframes hero-content {
  0% {
    margin-top: 0px;
    opacity: 0;
  }

  100% {
    margin-top: 150px;
    opacity: 1;
  }
}

.hero-content-text .btn {
  display: inline-block;
}

.box {
  max-width: 200px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.bounce-2 {
  animation-name: hero-img;
  animation-iteration-count: ease;
}

@keyframes hero-img {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.hero-content h1,
h2 {
  line-height: 1.4;
  letter-spacing: 2px;
}

.hero-content p {
  font-size: 1.3rem;
  margin: 20px 0px;
}

.hero-content-text {
  margin: 50px 0px;
}

.hero-primary-btn,
.hero-secondary-btn:hover {
  background: var(--primary-btn-bg-color);
  color: var(--btn-text-color);
}

.hero-secondary-btn,
.hero-primary-btn:hover {
  color: #000;
  background: var(--secondary-btn-bg-color);
}

.hero-primary-btn:hover a,
.hero-secondary-btn a {
  color: #000;
}

.hero-secondary-btn:hover a {
  color: #fff;
}

.hero-secondary-btn {
  margin-left: 20px;
}

.hero-primary-btn,
.hero-secondary-btn {
  margin-top: 10px;
}

.side-menu,
.hero-btm-socials,
.top-text,
.portfolio-card,
.hero-content,
.copyright,
.contact-card {
  text-align: center;
}

.top-nav-menu a:hover,
.side-menu a:hover {
  color: #ff7a00;
}

.about-me-section,
.footer-section {
  width: var(--global-width);
  min-height: 350px;
}

.top-text {
  margin-top: 100px;
}

.about-me,
.about-me p {
  margin: 20px 0px;
}

.portfolio-section {
  background: #fff4eb;
  margin: 50px 0px;
}

.portfolio-container {
  display: var(--global-flex);
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 0px;
}

.portfolio-card {
  width: 45%;
  background: #fff;
  min-height: 250px;
  margin: 5px;
  box-shadow: 3px 6px 10px -2px rgba(163, 163, 163, 0.75);
}

.card-img {
  width: var(--global-width);
}

.card-content {
  padding: 20px;
  min-height: 200px;
}

.card-content p {
  font-size: 0.8rem;
  margin: 20px 0px;
}

.card-btns {
  display: var(--global-flex);
  justify-content: center;
  align-items: center;
}

.card-btns img {
  width: 25px;
  height: 25px;
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  margin-top: 50px;
}

.icon-container img {
  width: 70px;
  height: 70px;
  margin: 20px 0px;
}

.footer-section {
  background: #000;
}

.footer-section h2,
.footer-section p {
  color: #fff;
}

.contact-card {
  width: 40%;
  min-height: 100px;
  border-radius: 10px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
}

.contact-card p {
  margin: 20px 0px;
  font-size: 1.2rem;
  color: #000;
}

@media (max-width: 850px) {
  .top-nav {
    width: 55%;
    font-size: 1.05rem;
  }

  .contact-card {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .top-nav,
  .hero-top-socials {
    display: none;
  }

  .side-menu {
    top: 66px;
  }

  .hero-primary-btn,
  .hero-secondary-btn {
    width: 50%;
  }

  .hero-secondary-btn {
    margin: 20px 0px 0px 0px;
  }

  .box {
    max-width: 100px;
  }

  .hamburger-icon,
  .hero-btm-socials {
    display: block;
  }

  .hero-btm-socials {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  h1 {
    font-size: 2.2rem;
  }

  .about-me-section {
    text-align: center;
  }

  .portfolio-card {
    width: 80%;
  }

  .icon-container {
    grid-template-columns: auto auto auto auto;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 1.8rem;
  }

  .contact-card {
    width: var(--global-width);
  }
}

@media (max-width: 450px) {
  li {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .hero-primary-btn,
  .hero-secondary-btn {
    width: 70%;
  }

  .portfolio-card {
    width: var(--global-width);
  }

  .icon-container {
    grid-template-columns: auto auto auto;
  }

  .contact-card p,
  .contact-card span {
    font-size: 0.95rem;
  }
}

@media (max-width: 300px) {
  .hero-content p {
    font-size: 0.8rem;
  }

  .btn {
    padding: 8px;
    font-size: 0.7rem;
  }

  .icon-container {
    grid-template-columns: auto auto;
    justify-content: center;
  }
}

@media (max-width: 250px) {
  .btn {
    width: var(--global-width);
  }
}
